<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ServerMonitoring</display-name>
  
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>      
    <welcome-file>index.html</welcome-file>      
  </welcome-file-list>

    <!-- URL List Initalizer properties -->
<!--     
  <listener>
  	<listener-class>mw.resource.ResourceInit</listener-class>
  </listener>
 -->
   
<!-- Quartz Initalizer servlet -->
  <servlet>
  	<display-name>Quartz Initalizer servlet</display-name>
  	<servlet-name>QuartzInitializer</servlet-name>
  	<servlet-class>org.quartz.ee.servlet.QuartzInitializerServlet</servlet-class>
  	<init-param>
  		<param-name>config-file</param-name>
  		<param-value>quartz.properties</param-value>
  	</init-param>
  	<init-param>
  		<param-name>start-scheduler-on-load</param-name>
  		<param-value>true</param-value>
  	</init-param>  	
  	<init-param>
  		<param-name>shutdown-on-unload</param-name>
  		<param-value>true</param-value>
  	</init-param>
  	<load-on-startup>1</load-on-startup>  	  	  	
  </servlet>
  <servlet>
  	<display-name>SchedulerInit</display-name>
  	<servlet-name>SchedulerInit</servlet-name>
  	<servlet-class>mw.scheduler.SchedulerInit</servlet-class>
  	<load-on-startup>1</load-on-startup>  	  	  	
  </servlet>

  <servlet>
    <servlet-name>AjaxMessageRequestServlet</servlet-name>
    <servlet-class>mw.user.servlet.AjaxMessageRequestServlet</servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>
  
  <servlet-mapping>
     <servlet-name>AjaxMessageRequestServlet</servlet-name>
     <url-pattern>/AjaxMessageRequest.do</url-pattern>
  </servlet-mapping>  
 
 <session-config>
         <session-timeout>120</session-timeout>
 </session-config>
  
</web-app>